@model VideoClub.Models.Pelicula

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>@Model.Titulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnioLanzamiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnioLanzamiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>
        <dt>
            Generos:
        </dt>
        <dd>
            <ul>
                @foreach (var peliculaGenero in Model.PeliculaGeneros)
                {
                    <li>@peliculaGenero.Genero.Descripcion</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
