@model IEnumerable<VideoClub.Models.Pelicula>

@{
    ViewData["Title"] = "Peliculas";
}

<h2>Peliculas</h2>
<form asp-action="Index" asp-controller="Peliculas" method="get">
    <div class="container">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label"></label>
                <input type="text" name="titulo" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label label-for="generoId" class="control-label"></label>
                <select name="generoId" class="form-control" asp-items="ViewBag.GeneroId"></select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label label-for="categoriaId" class="control-label"></label>
                <select name="categoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
        </div>
        <br /><button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div><i class="fas fa-ticket-alt categoria" style="color: @item.Categoria.Disenio; font-size: 20px;"></i><div class="categoria">@Html.DisplayFor(modelItem => item.Categoria.Descripcion)</div></div>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Titulo)</b> (@Html.DisplayFor(modelItem => item.AnioLanzamiento))
                <br />@Html.DisplayFor(modelItem => item.PeliculaGeneros.FirstOrDefault().Genero.Descripcion) - @Html.DisplayFor(modelItem => item.Duracion) MIN
            </td>
            <td><a asp-action="Details" asp-route-id="@item.Id"><button>Detalles</button></a></td>
            <td><a asp-action="AlquilarPelicula" asp-route-id="@item.Id"><button>Alquilar</button></a></td>
        </tr>
        }
    </tbody>
</table>
